* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.full-screen {
    width: 1200px;
    height: 600px;
    background-color: #484D50;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
    border: 3px solid #D0D7E1;
    border-radius: 10px;
}

.pomodoro {
    background-color: #D0D7E1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.lista_tarefas {
    background-color: #D0D7E1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: start;
    padding-top: 70px;
    gap: 30px;

}

.select {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 16px 25px;
    background-color: #5790AB;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    color: #484D50;
    font-weight: bolder;
    cursor: pointer;
}

.btn_selecionado {
    background-color: #064469;
    color: black;
}

.btn_pausar {
    padding: 16px 25px;
    background-color: #ad2c0c;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.btn_retomar {
    padding: 16px 25px;
    background-color: #064469;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.pomodoro h1 {
    font-size: 80px;
    color: #072D44;
}

.lista_tarefas h2 {
    font-size: 40px;
    color: #072D44;
}

.div_adicionar_tarefa {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}


.lista_tarefas input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #5790AB;
    width: 68%;
}

.lista_tarefas img {
    cursor: pointer;
    color: #064469;
}

.lista_tarefas #lista {
    width: 60%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column wrap;
}

.item-lista {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    
}

.text-lista {
    font-size: 18px;
    font-weight: bolder;
}

@media (max-width: 1400px) {
    .full-screen {
        width: 1000px;
        
    }
}

@media (max-width: 1150px) {

    body {
        height: 200vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .full-screen {
        width: 800px;
        grid-template-columns: 1fr;
        height: 100%;
        gap: 0px;
        background-color: white;
        border: none;
        
        
    }

    .pomodoro, .lista_tarefas {
        height: 80vh;
        border: 3px solid #D0D7E1;
        border-radius: 10px;
        
    }
    
}

@media (max-width: 900px) {

    .full-screen {
        width: 700px;  
        
    }
    
}

@media (max-width: 810px) {

    body {
        height: 160vh;
    }

    .full-screen {
        width: 500px;
        
    }

    .pomodoro, .lista_tarefas {
        height: 60vh;
        border: 3px solid #D0D7E1;
        border-radius: 10px;
        
    }
    
}

@media (max-width: 630px) {

    .full-screen {
        width: 400px;
        
    }

    .pomodoro, .lista_tarefas {
        height: 60vh;
        border: 3px solid #D0D7E1;
        border-radius: 10px;
        
    }

    .btn {
        padding: 15px 12px;
        font-size: 16px;

    }
    
}

@media (max-width: 480px) {

    .full-screen {
        width: 300px;
        
    }

    .pomodoro {
        height: 80vh;
        border: 3px solid #D0D7E1;
        border-radius: 10px;
        
    }

    .lista_tarefas {
        height: 60vh;
        border: 3px solid #D0D7E1;
        border-radius: 10px;
        
    }

    .btn {
        padding: 25px 25px;
        font-size: 14px;
        margin: 5px 0 5px 0;

    }

    .select {
        height: 40%;
        flex-flow: column wrap;
        justify-content: space-between;
    }

    .lista_tarefas #lista {
        width: 80%;
        height: 60%;
        background-color: white;
    }
    
    
}


